.wrapper{  
    align-content: center; border: 1px solid #E5E5E5 ; margin: 2% auto; padding: 2% 20%; 
  } 
  #button{ 
      margin-top: 25px;
      height: 50px;
      background-color: #1A1A1A;
      color: white;
      font-weight: bold;
  }  
  a:hover{
        font-weight: bold;
      color: white;
      text-decoration: none;
    }
  
  