.impt {
  padding-left: 0.5rem;
  font-size: 120%;
  color: #9d275f;
  font-weight: bold;
}
.header-label {
  font-size: 120%;
  font-weight: bold;
}
.signup-wrapper {
  align-content: center;
  border: 1px solid #e5e5e5;
  margin: 0 auto;
  padding: 5% 10%;
}
#paypal {
  margin-top: 4%;
  background-color: #1a1a1a;
}
.errorMsg {
  color: red;
}
